.home {
    display: flex;
    background-repeat: no-repeat;
}

.button1 {
    border-radius: 30px;
    background-color: yellow;
    font-size: 60px;
    color: wheat;
    border-color: silver;  
    border-width: 10px; 
    border-style: double;
}