.navigation {
    grid-area: b;
    background-color: cadetblue;
    padding: 20px;
    display: flex;
    grid-gap: 20px;
}

.item button {
    width: 170px;
    font-size: 25px;
    color: gold;
    border-radius: 10px;
}

.active button {
    width: 170px;
    background-color: silver;
    color: darkgoldenrod;
    font-size: 23px;
    border-radius: 10px;
}
