.nav {
    grid-area: n;
    background-color: cadetblue;
    padding: 20px;
    font-size: 30px;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    color: gold;
    text-decoration: none;
}

.nav img {
    width: 50px;
    padding-right: 8px;
}
