.nav {
    grid-area: n;
    background-color: #69c0c3;
    padding: 20px;
    font-size: 20px;
}
.item {
    color: white;
    text-decoration: none;
}

.active {
    text-align: center;
    color: gold;
    text-decoration: none;
}

.nav img {
    width: 50px;
    padding-right: 8px;
}
