.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: auto;
    grid-template-areas:
    "h h"
    "n c";
    
    grid-template-rows: 130px 1fr;
    grid-auto-columns: 2fr 7fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgba(38,112,192,0.21);
}