.grammers h2{
    color: #a17783;
    font-size: 40px;
}
.quest_button{
    width: 250px;
    height: 50px;
    background-color: #5bc63d;
    border: 1px dashed #fff;
    color: #fff;
    margin: 0.24rem;
    font-size: 20px;
    border-radius: 5px;
}

